.#{$progress-bar} {
    width: 250px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
    border: 1px solid $progress-bar-border;

    .bar {
        width: 50%;
        height: 25px;
    }

    .with-in-limit {
        background-color: $with-in-limit;
    }

    .exceed-limit {
        background-color: $exceed-limit;
    }

    .text {
        position: relative;
        top: -20px;
    }
}